.app-container{
  background: black;
  width: 100%;
}

/* html {
margin: 0;
} */

body {
  margin: 0;
}

.header-container {
  padding: 10px;
  display: flex;
  width: 100%;
  text-align: center;
  background-image: url('https://thumbs.gfycat.com/AdmiredDigitalHarrier-size_restricted.gif');
  
  align-items: center;
  /* background: linear-gradient(to bottom, #080808 0%, rgb(190, 197, 206) 102%); */
} 


.nav-link {
  color: rgb(16, 202, 193); 
  font-family: "Fredoka One";
  font-size: 25px;
  text-shadow: 2px 2px #3c9dc4;
  display: inline-block;
  /* margin: 1rem; */
  margin-left: 100px;
  margin-right: 100px;
  width: 100%;
  padding: 1rem;
  text-decoration: none;
  color: rgb(235, 233, 233);
  cursor: pointer;
}

.login {
  position: absolute;
  display: block;
  background: url(https://64.media.tumblr.com/5e4b16b9ee6449bb16fddc9099e5bbb5/tumblr_phm1k53y8L1tbrdouo1_500.gifv);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  
}


.login-form-box {
  position: relative;
  display: block;
  border: 5px solid rgba(53, 9, 212, 0.986);
  height: 35%;
  width: 30%;
  margin: 0 auto;
  top: 25%;
  text-align: center;
  color: rgb(219, 214, 218);
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  font-family: 'Architects Daughter', cursive;
}

.login-form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0 1rem 1rem;
  margin-top: 0px;
  font-family: 'Architects Daughter', cursive;
  font-size: larger;
  color: red;
}

.input-button{
  width: 50%;
  text-align: center;
  margin-left: 25%; 
  display: inline-block;
  padding: 1px 10px;
  font-size: 24px;
  font-family: 'Architects Daughter', cursive;
  font-size: larger;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: red;
  background-color: rgba(53, 9, 212, 0.986);
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px rgba(53, 9, 212, 0.986);
}
.input-button:hover{
  background-color: white;
}
.input-button:active {
  background-color: black;
  box-shadow: 0 5px black;
  transform: translateY(4px);
}



.card-container {
  display: grid;
  justify-content: space-between;
  align-items: center;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-right: 25px;
  margin-left: 25px;
  background-color: black;
  /* background-image: url('https://thumbs.gfycat.com/AdmiredDigitalHarrier-size_restricted.gif'); */
  background-size: cover;
  background-position-x: -500px;
  background-repeat: no-repeat;
 
}

.champion-card {
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  background-image: linear-gradient(to bottom, #807d7d 0%, rgb(39, 159, 189) 102%);
  /* background-image:  url('https://thumbs.gfycat.com/AdmiredDigitalHarrier-size_restricted.gif'); */
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;
  box-shadow: 3px 3px black;
  transition: transform .2s;
}

.champion-card:hover{
  transform: scale(1.1);
}

.card-content{
  align-items: center;
  display: flex;
  flex-direction: column;
}

.card-image {
  height: 200px;
  width: 300px;
  /* border-radius: 10px; */
}
.detail-box {
  margin: auto;
  margin-top: 20px;
  display: auto;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  padding-left: 10px;
  overflow: auto;
  
  width: 57%;
  background-color:rgb(255, 255, 255);
  border-radius: 50px;
  outline: black;
  border: solid;
  box-shadow: 5px 10px;
  
}

.detail-container{
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  align-items: center;
  
}

.outer-box {
  background-repeat: no-repeat;
  background-size: 100%;
}

.detail-clip {
  object-fit: cover;
  text-align: center;

}

.clip {
  object-fit: center;
  
  }
  


.ball {
  position: absolute;
  border-radius: 100%;
  opacity: 0.7;
}

.detail-name {
  color: black;
  font-family: "Fredoka One";
  
  font-size: 30px;
  /* text-shadow: 2px 2px #FF0000; */
}

.detail-title {
  font-size: 22px;
  text-align: center;
}

.detail-faction {
  font-size: 22px;
  text-align: center;

}

.title-box {
  margin-bottom: 1px;
  margin-top: 1px;
}

.title-box {
  
  margin-bottom: 1px;
}

.detail-bio {
  width: 93%;
  text-align: center;
  margin-top: 20px;
}

/* .region-detail-box {
  margin: auto;
  margin-top: 20px;
  display: auto;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  padding-left: 10px;
  overflow: auto;
  
  width: 57%;
  background-color: transparent;

  border-radius: 50px;
  outline: black;
  border: solid;
  box-shadow: 5px 10px;
  
}

.region-detail-bio{
  width: 93%;
  text-align: center;
  margin-top: 20px;
}

.region-detail-title {
  text-decoration: white;
  font-size: 22px;
  text-align: center;
} */