.app-container{
  background: black;
  width: cover;
  /* height: cover; */
}

/* html {
margin: 0;
} */

body {
  margin: 0;
}

.header-container {
  padding: 10px;
  display: flex;
  width: 100%;
  text-align: center;
  background-image: url('https://thumbs.gfycat.com/AdmiredDigitalHarrier-size_restricted.gif');
  
  align-items: center;
  /* background: linear-gradient(to bottom, #080808 0%, rgb(190, 197, 206) 102%); */
} 

.nav-link {
  color: rgb(16, 202, 193); 
  font-family: "Fredoka One";
  font-size: 25px;
  text-shadow: 2px 2px #3c9dc4;
  display: inline-block;
  /* margin: 1rem; */
  margin-left: 100px;
  margin-right: 100px;
  width: 100%;
  padding: 1rem;
  text-decoration: none;
  color: rgb(235, 233, 233);
  cursor: pointer;
}

.filter-container{
  text-align: center;
  background-image: url('https://thumbs.gfycat.com/AdmiredDigitalHarrier-size_restricted.gif');
}
.search-bar {
  align-items: center;
}


.login {
  position: absolute;
  display: block;
  background: url(https://64.media.tumblr.com/5e4b16b9ee6449bb16fddc9099e5bbb5/tumblr_phm1k53y8L1tbrdouo1_500.gifv);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  
}

.login-form-box {
  position: relative;
  display: block;
  border: 5px solid rgba(53, 9, 212, 0.986);
  height: 35%;
  width: 30%;
  margin: 0 auto;
  top: 25%;
  text-align: center;
  color: rgb(219, 214, 218);
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  font-family: 'Architects Daughter', cursive;
}

.login-form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0 1rem 1rem;
  margin-top: 0px;
  font-family: 'Architects Daughter', cursive;
  font-size: larger;
  color: red;
}

.input-button{
  width: 50%;
  text-align: center;
  margin-left: 25%; 
  display: inline-block;
  padding: 1px 10px;
  font-size: 24px;
  font-family: 'Architects Daughter', cursive;
  font-size: larger;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: red;
  background-color: rgba(53, 9, 212, 0.986);
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px rgba(53, 9, 212, 0.986);
}
.input-button:hover{
  background-color: white;
}
.input-button:active {
  background-color: black;
  box-shadow: 0 5px black;
  transform: translateY(4px);
}



.card-container {
  color: white;
  font-family: 'Questrial', cursive;
  display: grid;
  justify-content: space-between;
  align-items: center;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-right: 25px;
  margin-left: 25px;
  background-color: black;
  background-size: cover;
  background-position-x: -500px;
  background-repeat: no-repeat;
 
}

.champion-card {
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  /* background-image: linear-gradient(to right, #807d7d 0%, rgb(39, 159, 189) 102%); */
  background-image:  url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQYEu5j4vK4RiqeevV3O7cDqe9sxtYyUYjh6A&usqp=CAU');
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;
  box-shadow: 3px 3px black;
  transition: transform .2s;
}

.champion-card:hover{
  transform: scale(1.1);
}

.card-content{
  align-items: center;
  display: flex;
  flex-direction: column;
}

.card-image {
  height: 200px;
  width: 300px;
  /* border-radius: 10px; */
}
.detail-box {
  margin: auto;
  margin-top: 25px;
  display: auto;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  padding-left: 10px;
  overflow: auto;
  width: 80%;
  /* background-color:rgb(255, 255, 255);*/
  background-image: url("https://cdnb.artstation.com/p/assets/images/images/015/759/391/original/artur-sadlos-doublelift-unstoppable-league-of-legends-001.gif?1549533079");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position: auto;
  border-radius: 50px;
  outline: white;
  border: solid;
  box-shadow: 5px 10px;
  
}

.detail-container{
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  align-items: center;
  
}

.outer-box {
  background-repeat: no-repeat;
  background-size: 100%;
}

.detail-clip {
  object-fit: cover;
  text-align: center;
}

.clip {
  object-fit: center;
}
  
.ball {
  position: absolute;
  border-radius: 100%;
  opacity: 0.7;
}

.detail-name {
  /* color:orange; */
  font-size: 30px;
  font-family: 'Questrial', sans-serif;
}

.detail-title {
  font-size: 22px;
  text-align: center;
  font-family: 'Questrial', sans-serif;
  color:rgb(179, 82, 18);

}

.detail-faction {
  font-size: 22px;
  text-align: center;
  font-family: 'Questrial', sans-serif;
  color:rgb(179, 82, 18);

}

.title-box {
  margin-bottom: 1px;
  margin-top: 1px;
}

.title-box {
  margin-bottom: 1px;
}

.detail-bio {
  width: 98%;
  text-align: center;
  margin-top: 20px;
  font-family: 'Questrial', sans-serif;
  color:rgb(179, 82, 18);

}

/* this is the story  */

.story-header{
  font-family: 'Questrial', sans-serif;
  text-align: center;
  color:rgb(179, 82, 18);
}

/* .story-container{
  background-image: url("https://mir-s3-cdn-cf.behance.net/project_modules/1400/9112b576009313.5c5ca8e8c45c3.jpg");
} */

.story-text{
  /* background-image: url("https://www.2grobotics.com/wp-content/uploads/2017/08/text-background.jpg"); */
  background-size: cover;
  width: 98%;
  text-align: center;
  margin-top: 20px;
  font-family: 'Questrial', sans-serif;
  color:bisque;
}

.new-form{
  text-align: center;
  color: white;
}

.edit-text{
  height: 300px;
  width: 500px;
}
.form-text{
  height: 300px;
  width: 500px;
}

.form-control{
  text-align: justify;
  height: 50px;
}
/* .region-detail-box {
  margin: auto;
  margin-top: 20px;
  display: auto;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  padding-left: 10px;
  overflow: auto;
  
  width: 57%;
  background-color: transparent;

  border-radius: 50px;
  outline: black;
  border: solid;
  box-shadow: 5px 10px;
  
}

.region-detail-bio{
  width: 93%;
  text-align: center;
  margin-top: 20px;
}

.region-detail-title {
  text-decoration: white;
  font-size: 22px;
  text-align: center;
} */


