.app-container{
  background: black;
}

.header-container {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to bottom, #080808 0%, rgb(190, 197, 206) 102%);
} 


.nav-link {
  color: rgb(0, 0, 0); 
  font-family: "Fredoka One";
  font-size: 25px;
  text-shadow: 2px 2px #1a9acc;
  display: inline-block;
  margin: 1rem;
  padding: 1rem;
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.login {
  position: absolute;
  display: block;
  background: url(https://64.media.tumblr.com/5e4b16b9ee6449bb16fddc9099e5bbb5/tumblr_phm1k53y8L1tbrdouo1_500.gifv);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  
}


.login-form-box {
  position: relative;
  display: block;
  border: 5px solid rgba(53, 9, 212, 0.986);
  height: 30%;
  width: 30%;
  margin: 0 auto;
  top: 25%;
  text-align: center;
  color: rgb(219, 214, 218);
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  font-family: 'Architects Daughter', cursive;
}

.login-form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0 1rem 1rem;
  margin-top: 4px;
  font-family: 'Architects Daughter', cursive;
  font-size: larger;
}




.card-container {
  display: grid;
  justify-content: space-between;
  align-items: center;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
  margin-top: 20px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 55px;
  background-image: url('https://thumbs.gfycat.com/AdmiredDigitalHarrier-size_restricted.gif');
  background-size: cover;
  background-position-x: -500px;
  background-repeat: no-repeat;
 
}

.champion-card {
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  background-image: linear-gradient(to bottom, #080808 0%, rgb(190, 197, 206) 102%);
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;
  box-shadow: 3px 3px black;
  transition: transform .2s;
}

.champion-card:hover{
  transform: scale(1.1);
}

.card-content{
  align-items: center;
  display: flex;
  flex-direction: column;
}

.card-image {
  height: 200px;
  width: 300px;
  /* border-radius: 10px; */
}
.detail-box {
  margin: auto;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  
  width: 57%;
  background-color:rgb(255, 255, 255);
  border-radius: 50px;
  outline: black;
  border: solid;
  box-shadow: 5px 10px;
  
}

.detail-container{
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  align-items: center;
  
}

.outer-box {
  background-repeat: no-repeat;
  background-size: 100%;
}

.detail-clip {
  object-fit: cover;
  /* width: auto; */
  
}

.clip {
  object-fit: center;
  /* width: auto; */
}

.ball {
  position: absolute;
  border-radius: 100%;
  opacity: 0.7;
}

.detail-name {
  color: black;
  font-family: "Fredoka One";
  font-size: 30px;
  /* text-shadow: 2px 2px #FF0000; */
}

.detail-title {
  font-size: 22px;
}

.title-box {
  margin-bottom: 1px;
  margin-top: 1px;
}

.title-box {
  margin-bottom: 1px;
}

.detail-bio {
  width: 93%;
}


